ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(235, 168, 168);
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: rgb(255, 164, 164);
}
  
.active {
    background-color: #8affd4;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
    width: auto;
}

.top {
    text-align: center;
    width: 70%;
}

/* .top-posts{
    text-align: left;
    width: 70%;
} */

table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
}

td,th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* tr:nth-child(even){
    background-color: #dddddd;
} */

.user-body:nth-child(even) {
    background-color: #dddddd;
}

.button-posts{
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-comments {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.user-comments {
    border: none;
    padding: 0px 40px;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0%;
    padding: 0%;
}

[class*="col-"]{
    width: 100%;
}

@media only screen and (min-width: 600px){
    .col-m-1{width: 8.33%;}
    .col-m-2{width: 16.66%;}
    .col-m-3{width: 25%;}
    .col-m-4{width: 33.33%;}
    .col-m-5{width: 41.66%;}
    .col-m-6{width: 50%;}
    .col-m-7{width: 58.33%;}
    .col-m-8{width: 66.66%;}
    .col-m-9{width: 75%;}
    .col-m-10{width: 83.33%;}
    .col-m-11{width: 91.66%;}
    .col-m-12{width: 100%;}
}

@media only screen and (min-width: 768px){
    .col-1{width: 8.33%;}
    .col-2{width: 16.66%;}
    .col-3{width: 25%;}
    .col-4{width: 33.33%;}
    .col-5{width: 41.66%;}
    .col-6{width: 50%;}
    .col-7{width: 58.33%;}
    .col-8{width: 66.66%;}
    .col-9{width: 75%;}
    .col-10{width: 83.33%;}
    .col-11{width: 91.66%;}
    .col-12{width: 100%;}
}

.row:after{
    content: '';
    clear: both;
    display: block;
    margin: 0px;
}

.row div{
    float: left;
}

img{
    max-width: 100%;
    height: auto;
}

.padding-8{
    padding: 8px;
}

.padding-16{
    padding: 16px;
}

.padding-32{
    padding: 32px;
}

.padding-32{
    padding: 64px;
}

.center{
    text-align: center;
}

.header{
    background-color: black;
    font-style: normal;
    color: white;
    height: fit-content;
}

.navbar{
    padding: 10px;
    position: sticky;
    display: block;
    color: white;
    width: 50%;
    /* border: 1px solid rgba(160, 160, 160, 0.8); */
    border-radius: 15px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}
.navbar li{
    display: inline-block;
    width: 20%;
    font-weight: bold;
}

.navbar li a{
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    border: 1px solid #ccc;
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

table tr{
    border: 1px solid#ddd;
    padding: 5px;
}

table th, table td{
    padding: 10px;
    text-align: center;
}

table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

@media screen and (max-width : 600px){
    table{
        border: 0;
    }
    table thead{
        display: none;
    }
    table tr{
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }
    table td{
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
    }   
    table td:last-child{
        border-bottom: 0;
    }  
    table td:before{
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }  
}   

.black{
    background-color: black;
    font-style: normal;
    color: white;
    height: fit-content;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
    width: auto;
}

.circle{
    border-radius: 100%;
}

.besar{
    font-size: 40px;
}

.container:hover{
    size: 110%;
}

.zoom:hover {
    transform: scale(1.1);
  }

/* bener */
div.gallery {
  /* margin: 5px; */
  display: inline-block;
  border: 1px solid #ccc;
  margin: auto;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}


/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#gallery {
  background-color:  background-color: rgb(235, 168, 168);
}
